<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <!--加载外部属性文件-->
    <context:property-placeholder location="classpath:properties/weixin-pay.properties"
        ignore-unresolvable="true"/>

    <dubbo:application name="kinny-pay-service"></dubbo:application>

    <dubbo:protocol port="20880"></dubbo:protocol>

    <dubbo:annotation package="com.kinny.pay.service.impl"></dubbo:annotation>


</beans>