<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="http://localhost:9100/cas/login?service=http://localhost:9107/shiro-cas"></property>
        <property name="filters">
            <map>
                <entry key="casFilter" value-ref="casFilter"></entry>
                <entry key="logoutFilter" value-ref="logoutFilter"></entry>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /shiro-cas = casFilter
                /logout = logoutFilter
                /css/** = anon
                /img/** = anon
                /js/** = anon
                /plugins/** = anon
                /cart.html = anon
                /cart/*.do = anon
                /pay/*.do = anon
                <!--/pay.html = anon-->
                /** = authc
            </value>
        </property>
    </bean>

    <bean id="casFilter"
          class="org.apache.shiro.cas.CasFilter">
        <property name="failureUrl" value="/cart.html"></property>
        <property name="successUrl" value="/cart.html"></property>
    </bean>

    <bean id="logoutFilter"
          class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="http://localhost:9100/cas/logout?service=http://localhost:9100/cas/login?service=http://localhost:9107/shiro-cas"></property>
    </bean>

    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="subjectFactory" ref="subjectFactory"></property>
        <property name="cacheManager" ref="cacheManager"></property>
        <property name="realm" ref="casRealm"></property>
    </bean>

    <bean id="subjectFactory"
          class="org.apache.shiro.web.mgt.DefaultWebSubjectFactory"></bean>

    <bean id="cacheManager"
          class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:cache/ehcache.xml"></property>
    </bean>

    <bean id="casRealm"
          class="com.kinny.cart.shiro.realm.ShiroCasRealm">
        <property name="casServerUrlPrefix" value="http://localhost:9100/cas"></property>
        <property name="casService" value="http://localhost:9107/shiro-cas"></property>
    </bean>

    <bean id="lifecycleBeanPostProcessor"
          class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>

    <bean id="advisorAutoProxyCreator"
          class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"></bean>

    <bean id="authorizationAttributeSourceAdvisor"
          class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor"></bean>

</beans>