<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">



    <!--暴露服务到注册中心 初始化-->
    <dubbo:application name="kinny-content-service"></dubbo:application>

    <dubbo:protocol port="20882"></dubbo:protocol>

    <dubbo:annotation package="com.kinny.content.service.impl"></dubbo:annotation>


</beans>